<p>
  visualtests works!
  <span class="fa fa-home"></span> This should've been the home icon.
</p>
<app-collapsible-panel [title]="'Sample Title'">
	<div>
	Lorem ipsum...
	</div>
</app-collapsible-panel>

<app-sortable-container [items]="players" [directEdit]="true">
	<ng-template let-player>
    <app-collapsible-panel [title]="player.name">
			Position: {{player.position}}<br/>
			Number: {{player.number}}<br/>
		</app-collapsible-panel>
	</ng-template>
</app-sortable-container>

{{ players | json}}

<div>
	<h3>LocalStorage Test</h3>
	<div>
		Set Local Storage Value: <input type="text" [(ngModel)]="localStorageValue">
		<button (click)="commitLocalStorageValue()">Commit</button>
		<br/>
		The local storage value is {{localStorageValue}}
		<button (click)="clearLocalStorageValue()">Clear</button>
	</div>
</div>
<div class="animate">
	<button (click)="animate()">Click Me</button>
	<p [@scaleAnimation]="animateState">Look at me</p>
</div>
<app-image-upload-button
  (uploadComplete)="log($event)"
></app-image-upload-button>

<app-file-upload-button
  (uploadComplete)="log($event)"
></app-file-upload-button>

<div>
	<app-deletable-tag *ngFor="let tag of deletableTags"  [tag]="tag">
	</app-deletable-tag>
</div>

<app-auto-complete (onSearchType)="onSearchTypeHandler($event)"
	[searchResults]="autoCompleteSearchResults"
	(onSelect)="onSelectHandler($event)">
</app-auto-complete>

<app-toggle-button [isHorizontal]="true" [includeAll]="true" [items]="toggleButtonItems" (onItemSelected)="onToggleButtonItemSelected($event)">
</app-toggle-button>
