$prompter-font-size: 7em;
$left-gutter: 1.5em;

:host {
  box-sizing: border-box;
  background: black;
  display: block;
  font-size: $prompter-font-size;
  padding-top: 1em;
  font-family: 'Arial Black', sans-serif;

  &.mirror > * {
    transform: scaleX(-1);
  }
}

.arrow {
  position: fixed;
  left: 5%;
  font-family: 'Arial', arial, sans-serif;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: blue;
  }
}

:host.mirror .arrow {
  right: 5%;
  left: auto;
}

.copy {
  //width :60%;
  //text-transform: uppercase;
  line-height: 1.5em;
  padding-left: $left-gutter;
  color: #fff;
}

#beginning {
  padding-left: $left-gutter;
  margin-top: -0.5em;
}

#end {
  color: #444;
  padding-left: $left-gutter;
  padding-top: 1em;
  height: 100vh;
}
