$prompter-font-size: 7em;
$left-gutter: 1.5em;

:host {
  box-sizing: border-box;
  background: black;
  display: block;
  font-size: $prompter-font-size;
  padding-top: 1em;
  font-family: 'Arial Black', sans-serif;

  &.mirror > * {
    transform: scaleX(-1);
  }
}

.arrow {
  position: fixed;
  left: 5%;
  font-family: 'Arial', arial, sans-serif;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: blue;
  }
}

:host.mirror .arrow {
  right: 5%;
  left: auto;
}

.copy {
  //width :60%;
  //text-transform: uppercase;
  line-height: 1.5em;
  padding-left: $left-gutter;
  color: #fff;
}

#beginning {
  padding-left: $left-gutter;
  margin-top: -0.5em;
}

#end {
  color: #444;
  padding-left: $left-gutter;
  padding-top: 1em;
  height: 100vh;
}

:host.guides {
  #end {
    border-top: 1px solid red;
  }

  .copy {
    border-top: 1px solid green;
  }

  .info {
    position: fixed;
    padding: 8px;
    top: 0;
    right: 0;
    color: white;
    font-size: 2rem;
    background: rgba(0,0,0,0.7);
    z-index: 11;
  }

  #offset {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: green;
    opacity: 0.5;
    pointer-events: none;
    z-index: 10;

    &::after {
      content: 'offset';
      color: white;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 1rem;
      font-family: sans-serif;
      letter-spacing: 1px;
    }
  }
}